:root {
  /* Optionally, you can set a base font-size here if needed */
  /* font-size: 16px; */
  --moon-color: rgb(227, 212, 174);
}

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  background-color: rgb(228, 172, 143);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* 20px / 16 */
  max-width: 75rem; /* 1200px / 16 */
  justify-content: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  height: 9.6rem;
  padding: 1rem 0;
  font-size: 0.8rem;
  border-radius: 0.425rem;
}

.card p {
  padding: 0.625rem 0 0 0; /* 10px / 16 */
  margin: 0;
}

.moon-wrapper {
  width: 5rem; /* 80px / 16 */
  height: 5rem;
  border: 0.004rem dashed #000; /* 2px / 16 */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.moon-wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  background-color: var(--moon-color);
  width: 50%;
  height: 100%;
  left: var(--flip-left);
}

.disc {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotateY(var(--rotate));
}

.disc::before,
.disc::after {
  content: " ";
  display: block;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 4s;
}

.disc::before {
  background-color: white;
}

.disc::after {
  background-color: var(--moon-color);
  transform: rotateY(180deg);
}
/**/
/* .moon { */
/*   width: 80px; */
/*   height: 80px; */
/*   border-radius: 50%; */
/*   background: radial-gradient(circle at 50% 50%, white); */
/*   mask-image: radial-gradient(circle at calc(50% + var(--phase-offset)), transparent 49%, black 51%); */
/* } */
